<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    h1 {
      position: absolute;
      top: 50%;
    }

    a {
      text-decoration: none;
      color: rgb(70, 165, 255);
    }
  </style>
</head>
<body>
  <h1>This page not found <span> <a href="/">Get back home</a></span></h1>
</body>
</html>
