<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="footer.css">
</head>
<body>
  <div class="footer">
    <img src="footer.png" class="background_image">
    <div>
      <img src="logo.svg" alt="Logo" class="logo">
      <h2>Inventory App</h2>
    </div>
    <div class="icons">
      <ul>
        <li><img src="social/facebook.svg"></li>
        <li><img src="social/instagram.svg"></li>
        <li><img src="social/linkedin.svg"></li>
        <li><img src="social/twitter-alt-circle.svg"></li>
        <li><img src="social/whatsapp.svg"></li>
      </ul>
    </div>
  </div>
</body>
</html>