<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="logo.svg" />
  <link rel="stylesheet" href="index.css">
  <title>Inventory App</title>
</head>
<body>
  <%- include('header') %>
  <div class="video-container">
    <div class="content"><h1>You deserve it</h1></div>
    <video autoplay muted loop>
      <source src="/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <%- include('footer') %>
</body>
</html>