.dashboard {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 1em;
}

.tables {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.table {
  border: 1px solid rgb(29, 77, 144);
  padding: 1em;
  color: rgb(29, 77, 144);
}

.table.active {
  border: 1px solid white;
  color: white;
  background-color: rgb(29, 77, 144);
}

.add_row {
  font-size: 1.2em;
  border: 1px solid rgb(29, 77, 144);
  padding: 1em;
  background-color: rgb(29, 77, 144);
  color: white;
  max-width: max-content;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.dialog::backdrop {
  background-color: rgba(16, 7, 7, 0.5);
}

button.close, button[type=submit] {
  padding: 1em;
}

button[type=submit] {
  background-color: rgb(29, 77, 144);
}

.dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.columns {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.column {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
  color: white;
  background-color: black;
}

.column > p {
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./footer.png');
  height: 250px;
  width: 100%;
}

.errors {
  width: auto;
  display: block;
}